{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "rules": {
    "strict": [2, "global"],
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "new-cap": ["error", { "capIsNewExceptions": ["CORS"] }]
  }
}
